{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="site-hero-content text-center" style="margin-bottom: 500px;">
            <h6>{{ .tagline }}</h6>
            <ul class="site-hero-content-buttons">
              <li>
                <a href="#counter" class="btn btn-secondary site-hero-scroll scroll-to btn-sm-rounded" style="background-color: #D4737C; color: #d1d2d2;">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}
